*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(7, 7, 7);
    --secondary-color: rgb(255, 255, 255);
    --title-size: 2rem;
    --text-size: 1em;
    --police-Raleway-Bold : "Raleway-Bold";
    --police-Raleway-Regular : "Raleway-Regular";
    --police-Raleway-SemiBold : "Raleway-SemiBold";
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../font/Raleway-Bold.ttf");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../font/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../font/Raleway-SemiBold.ttf");
}
/* afin que mon menu ne soit pas déjà ouvert et que je ne puisse pas le fermer sur chrome, edge et explorer */
html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}

h1 {
    font-family: var(--police-Raleway-SemiBold);
}
h3 {
    font-family: var(--police-Raleway-SemiBold);
}
h4 {
    font-family: var(--police-Raleway-SemiBold);
    color: rgb(226, 69, 12);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    margin: 30px auto 0;
    font-size: 1.5em;
}

h4::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, var(--primary-color), transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform-origin: 100% 50%;
}

h4:hover::after {
    transform: scaleX(0); /* Réduit la largeur de l'underline à 0 au survol */
}