/* @media screen and (min-width: 900px) { */

h3 {
    font-size: 1.5em;
}



header {
    height: 150px;
}
.logo {
    height: 120px;
    width: 120px;
}
/* polygone */
.grid-container {
    height: 600px;
}
.triangle {
    height: 600px;
    width: 35vw;
}

/* Menu */
.slider-item {
    flex: 0 0 30%;
}
.iconeMenu, 
.iconeMenu3 {
    height: 75px;
    width: 75px;
}

/* Enlever l'effet du slider */

.slider-track5 {
    transform: translateX(0) !important; 
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

/* plat frite ou sans  */

th {
    font-size: 1.5em;
}
td {
    font-size: 1.2em;
}

/* Frites */
.enteteFrite {
    padding: 20px;
}

/* horaires et localisation */
.horaireEtLocalisation {
    margin-top: 30px;
    border-top: 3px solid var(--primary-color);
}
.horaires {
    margin: 20px 70px;
}
.imageIframe iframe {
    margin: 20px 70px;
}

