
header {
    height: 150px;
}
.logo {
    height: 120px;
    width: 120px;
}
/* polygone */
.grid-container {
    height: 600px;
}
.triangle {
    height: 600px;
    width: 35vw;
}

/* Menu */
.slider-item {
    flex: 0 0 30%;
}

/* horaires et localisation */
.horaireEtLocalisation {
    margin-top: 30px;
    border-top: 3px solid var(--primary-color);
}
.horaires {
    margin: 20px 70px;
}
.imageIframe iframe {
    margin: 20px 70px;
}