/* @media screen and (min-width: 900px) { */

h3 {
    font-size: 1.5em;
}

/* Loader */
.wordVideo {
    color: var(--primary-color);
    font-size: 40px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 3s linear infinite; /* Augmentez la durée de l'animation principale */
    text-transform: capitalize;
}

/* header et nav */
header {
    height: 150px;
}
.logo {
    height: 120px;
    width: 120px;
}


/* polygone */
.grid-container {
    height: 600px;
}
.triangle {
    height: 600px;
    width: 35vw;
}

/* Menu */
.iconeMenu, 
.iconeMenu3 {
    height: 75px;
    width: 75px;
}

/* Enlever l'effet du slider */

.slider-track1, 
.slider-track2, 
.slider-track3, 
.slider-track4, 
.slider-track5 {
    gap: 50px; /* Espacement entre les éléments *//* Assure le défilement s'aligne correctement */
}
.slider-track5 {
    transform: translateX(0) !important; 
}
.slider5 {
    justify-content: center;
}
.background-imageMenu {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--primary-color);
  }
  
  .background-imageMenuZoom {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: absolute;
    top: 0;
    left: 0; */
    transition: transform 0.3s ease; 
  }
  
  .background-imageMenu:hover .background-imageMenuZoom {
    transform: scale(1.2); 
  }

/* plat frite ou sans  */

th {
    font-size: 1.5em;
}
td {
    font-size: 1.2em;
}

/* Frites */
.enteteFrite {
    padding: 20px;
}

/* horaires et localisation */
.horaireEtLocalisation {
    margin-top: 30px;
    border-top: 3px solid var(--primary-color);
}
.horaires {
    margin: 20px 70px;
}
.imageIframe iframe {
    margin: 20px 70px;
}

