/* Menu */
.tableSectionMenuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.tableMenu {
    height: 100%;
}
.tableMenuContainer {
    background-color: var(--primary-color);
    padding: 10px;
    height: 100%;
}
.table1 {
    border-bottom: 3px solid var(--secondary-color); 
    border-left: 3px solid var(--secondary-color);
}
.table2{
    border-bottom: 3px solid var(--secondary-color); 
    border-top: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
}
.table3 {
    border-bottom: 3px solid var(--secondary-color); 
    border-top: 3px solid var(--secondary-color);
    border-left: 3px solid var(--secondary-color);
}
.table4 { 
    border-top: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
}

table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
td {
    border: 1px solid var(--secondary-color);
    padding: 8px;
    text-align: center;
    color: var(--secondary-color);
}
.imageMenu img {
    height: 100%;
    width: 100%;
}
.menuContainer h1 {
    font-size: var(--title-size);
    color: rgb(214, 61, 5);
    margin: 30px 0 20px 0;
    text-align: center;
}

/* Horaires */
.horaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(161, 40, 40);
    border-style: double;
    margin: 20px 30px;
}
.horaires h3 {
    color: rgb(161, 40, 40);
    margin: 20px 0 10px 0;
}
.horaires p {
    padding: 10px;
    font-size: 0.8em;
}

/* Localisation */
.imageIframe {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--primary-color);
}
.imageIframe iframe {
    margin: 20px 30px;
}

/* Infos */
.info {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100px;
    margin-top: 20px;
    width: 100%;
    /* border-top: 3px solid var(--primary-color); */
}

.paiementCarte,
.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paiementCarte p,
.reservation p {
    text-align: center; 
    font-size: 0.8em;
}
.paiementCarte img, .reservation img  {
    height: 50px;
    width: 50px;
}
.reservation {
    margin-top: 15px;
}