/* Menu */

.slider-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}
.slider-container h2 {
    color: rgb(226, 69, 12);
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px 0;
}
.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligner l'image à gauche */
    flex: 0 0 80%;
    position: relative;
}

.slider-item img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.caption {
    margin-top: 10px; /* Ajoutez une marge pour séparer l'image du texte */
}

.buttonSlider {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
    background-color: transparent;
}
.buttonSlider a {
    font-size: 30px;
    color: darkgoldenrod;
    text-decoration: none;
}


/* Horaires */
.horaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(161, 40, 40);
    border-style: double;
    margin: 20px 30px;
}
.horaires h3 {
    color: rgb(161, 40, 40);
    margin: 20px 0 10px 0;
}
.horaires p {
    padding: 10px;
    font-size: 0.8em;
    font-family: var(--police-Raleway-Regular);
}

/* Localisation */
.imageIframe {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--primary-color);
}
.imageIframe iframe {
    margin: 20px 30px;
}

/* Infos */
.info {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100px;
    margin-top: 20px;
    width: 100%;
    /* border-top: 3px solid var(--primary-color); */
}

.paiementCarte,
.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paiementCarte p,
.reservation p {
    text-align: center; 
    font-size: 0.8em;
    font-family: var(--police-Raleway-Regular);
}
.paiementCarte img{
    height: 50px;
    width: 50px;
}
.reservation img {
    height: 50px;
    width: 60px;
}
.reservation {
    margin-top: 15px;
}
.reservation a {
    text-decoration: none;
    color: var(--secondary-color);
}