header {
    position: relative;
    background-color: var(--primary-color);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo-container {
display: flex;
justify-content: center;
align-items: center;
}
.nav-toggle {
background-color: var(--secondary-color);
padding: 7px;
border-radius: 0.3em;
cursor: pointer;
}
.nav-toggle-bar {
position: relative; /* Added relative positioning */
z-index: 3; /* Ensure the nav-toggle-bar is above other elements */
}
.logo {
    position: absolute;
    right: 50%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform: translateX(50%);
}
.fa-solid {
    /* color: var(--secondary-color); */
    transition: color 0.3s ease; /* Add a transition effect for color change */
}
.fa-burger {
    color: var(--primary-color);
    font-size: 2em;
}
.fa-xmark {
    color: var(--secondary-color);
    font-size: 2em;
}

/* MENU ouvrant et fermant */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100vw);
    transition: all 1s;
    z-index: 1;
}
.menu-open .navigation {
    transform: translateX(0);
}
.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    font-size: var(--title-size);
    text-transform: uppercase;
    list-style: none;
}
.navigation a {
    position: relative;
    color: var(--secondary-color);
    text-decoration: none;
}
.navigation a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in-out;
}
.navigation li a:hover::after {width: 100%;}
