/* Loader */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phrase span {
    margin: 0 5px; /* Ajoutez une marge entre les mots si nécessaire */
}  
.phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
    text-align: center;
}
.video-background {
    width: 100%; /* ou toute autre largeur souhaitée */
    height: 100%; /* ou toute autre hauteur souhaitée */
    object-fit: cover;
}
.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.wordVideo {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    animation: flash 1.2s linear infinite; /* Augmentez la durée de l'animation principale */
    text-transform: capitalize;
}
@keyframes flash {
    0% {
        color: #ff0000; /* Jaune orangé */
        text-shadow: 0 0 8px #ff0000; /* Ombre jaune orangé */
    }
    90% {
        color: #000000; /* Noir */
        text-shadow: none; /* Pas d'ombre */
    }
    100% {
        color: #ff0000; /* Jaune orangé */
        text-shadow: 0 0 8px #ff0000; /* Ombre jaune orangé */
    }
}

.wordVideo:nth-child(1) {
    animation-delay: 0.1s;
}
.wordVideo:nth-child(2) {
    animation-delay: 0.3s; 
}
.wordVideo:nth-child(3) {
    animation-delay: 0.5s; 
}
.wordVideo:nth-child(4) {
    animation-delay: 0.7s; 
}
.wordVideo:nth-child(5) {
    animation-delay: 0.9s; 
}
.wordVideo:nth-child(6) {
    animation-delay: 1.1s; 
}

.accederSite {
    position: absolute;
    bottom: 55px;
    right: 25px;
}
.accederSite a {
    color: var(--primary-color);
    font-size: 25px;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
}


/* header + nav */
header {
    position: relative;
    background-color: var(--primary-color);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo-container {
display: flex;
justify-content: center;
align-items: center;
}
.nav-toggle {
background-color: var(--secondary-color);
padding: 7px;
border-radius: 0.3em;
cursor: pointer;
}
.nav-toggle-bar {
position: relative; /* Added relative positioning */
z-index: 3; /* Ensure the nav-toggle-bar is above other elements */
}
.logo {
    position: absolute;
    right: 50%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
}

/* icone font awesome */

.fa-burger {
    color: var(--primary-color);
    font-size: 2em;
}
.fa-xmark {
    color: var(--secondary-color);
    font-size: 2em;
}

/* MENU ouvrant et fermant */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transition: all 1s;
    -webkit-transition:  all 1s;
    z-index: 1;
}
.menu-open {
    background: url("./../img/sandwichMexicanos.jpg");
    background-size: cover;
    background-position: center;
}
.menu-open .navigation {
    transform: translateX(0);
}
/* Pour enlever la barre de scroll 
bug ios: (l'overflow doit être appliqué sur notre élément body et HTML pour que le scroll disparaisse sur safari)*/
.menu-open, 
.menu-open body {
    overflow: hidden;
}
.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    font-size: var(--title-size);
    text-transform: uppercase;
    list-style: none;
}
.navigation a {
    position: relative;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--police-Raleway-Bold);
}
.navigation a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--secondary-color);
    transition: 0.15s ease-in-out;
}
.navigation li a:hover::after {width: 100%;}
