.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%); 
  }

  .triangle {
    height: 20vh;
    width: 30vw;
  }

  .triangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .triangle1 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    grid-column: 1/span 2;
    grid-row: 1;
    justify-self: center; 
    margin-left: 45px;
  }

  .triangle2 {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    grid-column: 2/span 2;
    grid-row: 1;
    justify-self: center; 
  }

  .triangle3 {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    transform: scaleY(-1);
    grid-column: 3/span 2;
    grid-row: 1;
    justify-self: center; 
    margin-right: 45px;
  }

  .rectangle-left {
    clip-path: polygon(0 0, 100% 0, 40% 100%);
    grid-column: 1;
    grid-row: 1;
  }

  .rectangle-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rectangle-right {
    clip-path: polygon(0 0, 100% 0, 60% 100%);
    grid-column: 4;
    grid-row: 1;
  }

  .rectangle-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }