/* @media screen and (min-width: 700px) { */
header {
    height: 100px;
}
#accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none; /* Cacher le bouton de menu sur les écrans plus larges */
}

.navigation {
    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    background-color: transparent;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: none;
    font-size: var(--title-size);
    text-transform: uppercase;
    list-style: none;/* Ajustez cette valeur selon vos besoins */
}

.logo {
    position: static;
}
/* polygone */
.grid-container {
    height: 300px;
}
.triangle {
    height: 300px;
    width: 35vw;
}

.tableSectionMenuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.imagePlace2 {
    grid-column: 2;
    grid-row: 2;
}
.imagePlace4 {
    grid-column: 2;
    grid-row: 4;
}


/* Menu */
.slider-item {
    flex: 0 0 40%;
}



/* horaire et localisation */
.horaireEtLocalisation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid var(--primary-color);
}
.imageIframe {
    border: none;
}
.localisation h3 {
    color: rgb(161, 40, 40);
    margin: 0;
    text-align: center;
}
.imageIframe {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageIframe iframe {
    width: 100%;
}

/* Les frites */
li {
    display: inline-block;
    width: calc(33.33% - 4px);
    margin: 0 0 30px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}